footer {background-color: black;
border: white;
padding: 10px;
margin-left: 5px;
margin-right: 5px;
position: absolute;
width: 20cm;
}

.social-icons a {
    color: white;
    margin:30px;
    font-size: 24px;
    text-decoration: none;
    justify-content: space-between 2cm;

}

.social-icons a:hover {
    color:white;
}